.contenedor{
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.contenedor p{
    color: rgb(161, 7, 7);
    opacity: 0.9;
    font-size: 0.9em;
    
}

.input{
    padding: 0.7em 1.5em;
    border: #c9c9c9 solid 0.1em;
    border-radius: 6px;
    background-color: #f3f3f3 ;
    width: 100%;

}

.input_otro{
    margin-left: 1em;
    width: 100%;
}

.contenedor_nombre{
    display: flex;
    width: 100%;

}

.contenedor_lugar{
    display: flex;
    flex-direction: row;
  
}

.btn{
    display: flex;
    justify-content: center;
    bottom: 1.4em;
    align-items: center;
    font-family: 'Fredoka';
    font-size: 16px;
    font-weight: 500;
    background-clip: padding-box;
    color:white;
    background-color:var(--primary-color);
    border: 0.2em solid var(--primary-color);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 0.063em 0.188em 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    padding: 0.6em 3em;
    text-decoration: none;
    transition: all 250ms;
    margin-top: 2em;
}

.btn:hover{
    color:var(--primary-color);
    background-color:white;
    border: 0.2em solid var(--primary-color);
}

.btn_volver{
    color: var(--primary-color);
    font-weight: 500;
}

.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    
}

.error{
    border:rgb(161, 7, 7) 1px solid;
}

@media (max-width: 768px){
    .contenedor{
        margin-right: 6em;
    }

}