.contenedor_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3.75em;
    font-size: 16px;
}

.contenedor_menu_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5em;
    font-weight: 500;
    color: var(--primary-color);
    list-style: none;

}

.contenedor_menu_nav li:hover{
    color: var(--secondary-color);
    transition: all 250ms;
}
  
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  