.btn{
    align-items: center;
    background-clip: padding-box;
    background-color:var(--primary-color);
    border: 0.063em solid transparent;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 0.063em 0.188em 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.04em;
    justify-content: center;
    padding: 0.8em 0;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    vertical-align: baseline;
    width: auto;
    color: white;
    margin-bottom: 3em;
    width: 100%;
}
.btn:hover {
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.25em 0.75em;

  }

  .custom{
    width: 19em;
    height: 30em;
    background-color: #d6d6d6;
    border-radius: 1em;
    text-align: center;
    overflow-y: auto;
  }


  .textos{
   
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
  }

 .textos h1{
    margin-top: 0.6em;
    text-align: center;
    color: var(--primary-color);
    font-size: 1.8em;
    font-weight: 600;
  }

.input{
    margin-left: 14em;
    font-size: 1.2em;
    color: var(--secondary-color);
    outline: none;
    font-weight: 600;
    border-bottom: #c7c9cc solid 1px;
    width: 30em;
}

.input_dos{
  margin-left: 14em;
  font-size: 1.2em;
  color: var(--secondary-color);
  outline: none;
  font-weight: 400;
  border-bottom: #c7c9cc solid 1px;
  width: 17em;
}

.input:focus{
  border-bottom: #a5aab1 solid 1px;

}

.input_dos:focus{
  border-bottom: #a5aab1 solid 1px;

}