@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  --primary-color:#0032C9;
  --secondary-color: #EE99C2;
  font-family: 'Fredoka';
}
:root {
  --primary-color:#0032C9;
  --secondary-color: #EE99C2;
}

::-webkit-scrollbar {
  display: none;
}