.bck_separador {
  display: flex;
  width: auto;
  height: auto;
  padding: 5em 0 5em 0;
  background-color: var(--secondary-color);
  justify-content: space-evenly;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.contenedor_separador h2 {
  display: flex;
  color: white;
  font-size: 3.2em;
  left: 11em;
  font-weight: 700;
}

.dto {
  width: 50%;
  text-align: center;
}

.contenedor_cantante{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 17em;
  padding: 3em 2em ;
  background-color: #FAFAFA;
  gap: 1em;
  align-items: center;
  text-align: center;
  border: 0.25em solid var(--primary-color);
  border-radius: 1em;
  transition: all 250ms ease-out;
}

.contenedor_cantantes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 6em;
  background-color: #FAFAFA;

}

.contenedor_cantante:hover{
  transform: translate(0, -0.4em);

}

.contenedor_cantantes h3{
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.7em;
}

.contenedor_cantantes p{
  color: var(--primary-color);
  font-weight: 400;
}

@media (max-width: 768px){

  .contenedor_cantantes{
    grid-template-columns: 1fr;
    gap: 1.5em;
  }
    
}